<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>

<div id="container" style="
        background-color: cornflowerblue;
        height: 100%">

    <div align="center" style="padding-top: 100px">
        <!--/*@thymesVar id="user" type="ruszkowski89.springmvc.model.User"*/-->
        <form action="#" th:action="@{/app/processLogin}" method="post" th:object="${user}">
            <table>
                <tr>
                    <td colspan="2" align="center"><h2>Login</h2></td>
                </tr>
                <tr>
                    <td>UserName:</td>
                    <td><input name="userName" type="text" th:field="*{userName}"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input name="password" type="password" th:field="*{password}"/></td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <input type="submit" value="Login"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <div align="center" style="padding-top: 100px">
        <form action="#" th:action="@{/app/Register}" method="get">
            <table>
                <tr >
                    <td colspan="2" align="center"><h2>Register</h2></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Register"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>

