<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{AddIngredient.title}"> Add ingredient: </span>
        <div class="dottedline"></div>

        <!--/*@thymesVar id="ingredient" type="ruszkowski89.springmvc.model.Ingredient"*/-->
        <form action="#" method="post"
              th:action="@{/app/ingredients/processAddIngredientForm}"
              th:object="${ingredient}">
            <table>
                <tr>
                    <div>
                        <p th:utext="#{AddIngredient.start}">
                            Enter details of ingredient you want to add:
                        </p>
                    </div>
                </tr>
                <tr>
                    <td th:text="#{Commons.name}">Name:</td>
                    <td><input type="text" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td th:text="#{Commons.description}">Description:</td>
                    <td>
                        <textarea type="text" th:field="*{description}"></textarea>
                    </td>
                </tr>

                <tr align="center">
                    <td colspan="2">
                        <input type="submit" value="Add"/>
                    </td>
                </tr>
            </table>
        </form>

    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>