<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{AddRecipe.title}"> Add recipe:  </span>
        <div class="dottedline"></div>

        <!--/*@thymesVar id="recipe" type="ruszkowski89.springmvc.model.Recipe"*/-->
        <!--/*@thymesVar id="ingredient" type="ruszkowski89.springmvc.model.Ingredient"*/-->

        <form action="#" method="post" th:action="@{/app/recipes/addRecipe/}" th:object="${recipe}">
            <p th:utext="#{AddRecipe.start}"></p>

            <div>
                <td th:text="#{AddRecipe.recipeName}">Recipe name:</td>
                <td><input type="text" th:field="*{name}"/></td>
            </div>

            <div>
                <td th:text="#{AddRecipe.preparationTime}">Preparation time in minutes:</td>
                <td><input type="number" th:field="*{timeInMinutes}" /></td>
            </div>

            <div>
                <td th:text="#{Commons.description}">Description:</td>
                <td><textarea type="text" th:field="*{description}"></textarea></td>
            </div>

            <div>
                <label th:text="#{AddRecipe.selectIngredients}">Select ingredients:</label>
                <table>

                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Unit</th>
                            <th>Amount</th>
                            <th>
                                <button type="submit"
                                        name="addIngredient"
                                        th:text="#{AddIngredient.add}">Add Ingredient</button>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="ingredient,ingredientStat : *{ingredients}">
                            <td th:text="${ingredientStat.count}">1</td>
                            <td>
                                <select th:field="*{ingredients[__${ingredientStat.index}__].name}">
                                        <option th:each="ing : ${ingredientList}"
                                                th:value="${ing.id}"
                                                th:text="${ing.name}">Potato</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" th:field="*{ingredients[__${ingredientStat.index}__].amount}" />
                            </td>
                            <td>
                                <button type="submit"
                                        name="removeIngredient"
                                        th:value="${ingredientStat.index}"
                                        th:text="#{AddRecipe.removeIngredient}">Remove ingredient</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div>
                <button type="submit" name="save">Add recipe</button>
            </div>
        </form>

    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>