<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{AddRecipe.title}"> Add recipe:  </span>
        <div class="dottedline"></div>

        <!--/*@thymesVar id="recipe" type="ruszkowski89.springmvc.model.Recipe"*/-->
        <!--/*@thymesVar id="ingredient" type="ruszkowski89.springmvc.model.Ingredient"*/-->

        <form action="#" method="post" th:action="@{/app/recipes/addRecipe}" th:object="${recipe}">
            <p th:utext="#{AddRecipe.start}"></p>

            <div>
                <p th:text="#{AddRecipe.recipeName}">Recipe name:</p>
                <input type="text" th:field="*{name}"/>
            </div>

            <div>
                <p th:text="#{AddRecipe.preparationTime}">Preparation time in minutes:</p>
                <input type="number" th:field="*{timeInMinutes}" />
            </div>

            </br></br>
            <div>
                <label th:text="#{AddRecipe.selectIngredients}">Select ingredients:</label>
                <table>

                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Ingredient</th>
                            <th>Unit of weight:</th>
                            <th>Amount</th>
                            <th>
                                <button type="submit"
                                        name="addRow"
                                        th:text="#{AddIngredient.add}">Add Ingredient</button>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="row,rowStat : *{ingredientDataRows}">
                            <td th:text="${rowStat.count}">1</td>
                            <td>
                                <select th:field="*{ingredientDataRows[__${rowStat.index}__].ingredient}">
                                    <option th:each="ing : ${allIngredients}"
                                            th:value="${ing.name}"
                                            th:text="${ing.name}">Potato</option>
                                </select>
                            </td>
                            <td>
                                <select th:field="*{ingredientDataRows[__${rowStat.index}__].unitOfWeight}">
                                    <option th:each="unit : ${allUnitsOfWeight}"
                                            th:value="${unit.name}"
                                            th:text="${unit.name}">Gram</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" th:field="*{ingredientDataRows[__${rowStat.index}__].amount}" />
                            </td>
                            <td>
                                <button type="submit"
                                        name="removeRow"
                                        th:value="${rowStat.index}"
                                        th:text="#{AddRecipe.removeIngredient}">Remove ingredient</button>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div>
                </br></br></br>
                <p th:text="#{Commons.description}">Description:</p>
                </br>
                <textarea type="text" th:field="*{description}" rows="8" cols="75"></textarea>
            </div>

            <div>
                </br></br>
                <input type="submit" value="Save recipe" />
            </div>

        </form>

    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>