<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">

        <span class="bigtitle" th:text="#{Ingredients.title}"> Ingredients:  </span>

            <button type="submit"
                    class="btn btn-success"
                    onclick="location.href='/app/ingredients/add'"
                    th:text="#{Ingredients.add}">
                Add ingredient
            </button>

        <div class="dottedline"></div>

        <table>
            <tr>
                <th th:text="#{Commons.name}">  Name:</th>
                <th th:text="#{Commons.link}">  Link:</th>
            </tr>
            <tr th:each="ingredient : ${ingredientList}">
                <td th:text="${ingredient.name}"></td>
                <td>
                    <a href="#" th:href="@{'/app/ingredients/' + ${ingredient.id}}"
                       th:text="#{Commons.view}"> view </a>
                </td>
            </tr>
        </table>

    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>
