<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>



    <title>Please login</title>
</head>

<body style="background-color: cornflowerblue">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Login</h1>
            <!--/*@thymesVar id="user" type="ruszkowski89.springmvc.model.User"*/-->
            <form th:action="@{/app/login}" method="post">

                <div th:if="${param.error}" class="alert alert-error" th:text="#{Login.loginError}">
                    Invalid username or password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success" th:text="#{Login.logout}">
                    You have been logged out.
                </div>
                <table>
                    <tr>
                        <td th:text="#{Commons.username}"><label for="username">UserName: </label></td>
                        <td><input type="text" id="username" name="username" /></td>
                    </tr>
                    <tr>
                        <td th:text="#{Commons.password}"><label for="password">Password: </label></td>
                        <td><input type="password" id="password" name="password" /></td>
                    </tr>
                </table>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Login</button>
                    <span>Don't have account?
                        <a href="/" th:href="@{/app/register}">Register here</a>
                    </span>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>