<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

  <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
  <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{Profile.title}"> Profile details:  </span>
        <div class="dottedline"></div>
        <p> <span th:text="'Welcome, ' +${user.userName}"></span> </p>
        <p> <span th:text="'Email: ' +${user.email}"></span> </p>
    </div>

  <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>