<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content" th:object="${recipeData}">

        <span class="bigtitle" th:text="*{name}"> Recipe:  </span>
        <div class="dottedline"></div>

        <p th:text="'Author: ' + *{user.userName}"></p>
        <p th:text="'Time needed for preparation: ' + *{timeInMinutes} + ' minutes'"></p>
        <p th:text="'Ingredients needed:'"></p>

        <ul>
            <li th:each="row : *{ingredientDataRows}" th:text="${row}"></li>
        </ul>

<!--        <table>
            <thead>
                <tr>
                    <th>Ingredient</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row : *{ingredientDataRows}">
                    <td th:text="${row.amount}">row</td>
                </tr>
            </tbody>
        </table>-->

        </br></br>

        <p th:text="'Description: ' + *{description}"></p>
    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>