<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="all" type="text/css" th:href="@{/css/style.css}"/>
</head>


<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{Recipes.title}"> List of recipes:  </span>
        <div class="dottedline"></div>

        <table>
            <tr>
                <th th:text="#{Commons.name}">  Name: </th>
                <th th:text="#{Commons.link}">  Link</th>
            </tr>
            <tr th:each="recipe : ${allRecipes}">
                <td th:text="${recipe.name}"></td>
                <td><a th:href="@{'recipes/' + ${recipe.id}}" th:text="#{Commons.view}">view</a></td>
            </tr>

        </table>

    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>
