<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" media="all" type="text/css"  th:href="@{/css/style.css}"/>
</head>


<body>

<div id="container">

  <div id="logoAndAccount">
    <div id="account" th:if="${#httpServletRequest.remoteUser != null}">
        <p onclick="location.href='Profile'" th:text="${'Logged as: ' + #httpServletRequest.remoteUser}">UserProfile</p>
        <p>
            <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" />
            </form>
        </p>
    </div>

    <div id="logo">StupidCulinaryWebApp</div>
  </div>

  <div id="menu">
    <div class="option" onclick="location.href='MainMenu'">Home </div>
    <div class="option" onclick="location.href='Recipes'">Recipes </div>
    <div class="option" onclick="location.href='Ingredients'">Ingredients </div>
    <div class="option" onclick="location.href='Users'">Users</div>
    <div class="option" onclick="location.href='AddRecipe'">Add Recipe</div>
    <div style="clear: both;"></div>
  </div>

  <div id="sidebar">
    <div class="optionL" onclick="location.href='MainMenu'">Home <br /></div>
    <div class="optionL" onclick="location.href='Recipes'">Recipes <br /></div>
    <div class="optionL" onclick="location.href='Ingredients'">Ingredients<br /></div>
    <div class="optionL" onclick="location.href='Users'">Users <br /></div>
    <div class="optionL" onclick="location.href='AddRecipe'">Add Recipe <br /></div>
    <div style="clear: both;"></div>

  </div>

  <div id="content">
    <span class="bigtitle"> Registration Success, welcome to our site !</span>
  </div>

  <div id="footer">
     &copy; All rights reserved
  </div>

</div>

</body>
