<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content" th:object="${userToDisplay}">
        <span class="bigtitle" th:text="*{userToDisplay.name}"> User :  </span>
        <div class="dottedline"></div>
        <table>
            <tr>
                <th th:text="#{Commons.username}">-- UserName --</th>
                <th th:text="#{Commons.email}">-- Email --</th>
            </tr>
            <tr >
                <td th:text="*{userName}">username</td>
                <td th:text="*{email}">email</td>
            </tr>
        </table>
    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>