<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>



<body>
<div id="container">

    <div id="logoAndAccount" th:insert="fragments/logoAndAccount :: logoAndAccount" />
    <div id="buttonBars" th:insert="fragments/buttonBars :: buttonBars" />

    <div id="content">
        <span class="bigtitle" th:text="#{Users.title}"> List of registered users:  </span>
        <div class="dottedline"></div>
        <table>
            <tr>
                <th th:text="#{Commons.username}">  UserName</th>
                <th th:text="#{Commons.email}">  Email</th>
                <th th:text="#{Users.joined}">  Joined</th>
                <th th:text="#{Users.viewProfile}">  View Profile</th>
            </tr>

            <tr th:each="user: ${userList}" >
                <td th:text="${user.userName}">username</td>
                <td th:text="${user.email}">email</td>
                <td th:text="${{user.registrationDate}}">date</td>
                <td><a th:href="@{'/app/users/'+${user.id}}" th:text="#{Commons.view}">view</a></td>
            </tr>
        </table>
    </div>

    <div id="footer" th:insert="fragments/footer :: footer" />

</div>
</body>